# Answers each question

## Input : TeamData.csv and PlayerData.csv

## Output : Answers to set of questions

In [15]:
library(dplyr)

### 1: Read csv data

In [2]:
Teams<- read.csv(file="TeamData.csv", header=TRUE)
Players<- read.csv(file="PlayerData.csv", header=TRUE)

### 2: Check the fetched data

In [3]:
head(Teams)
head(Players)

  X team_api_id totalGoals maxTotalDefenceAttr maxTotalChanceCreation
1 1  9987       348        205                 182
2 2 10000       306        200                 153
3 3  9994       279        200                 154
4 4  9984       213        195                 200
5 5  8635       427        190                 182
6 6  9991       390        166                 184
  maxTotalBuildUp team_long_name    team_short_name
1 148             KRC Genk          GEN
2 147             SV Zulte-Waregem  ZUL
3 159             Sporting Lokeren  LOK
4 145             KSV Cercle Brugge CEB
5 149             RSC Anderlecht    AND
6 142             KAA Gent          GEN

  X player_api_id totalMatchPlayed totalLeaguecount max_gk max_rating
1 1  42119        175              6                 NA    NA
2 2 178538        105              5                134    77
3 3 116750        151              5                106    77
4 4  30841        147              4                424    85
5 5 109060        101              4                392    78
6 6  38229        167              4                181    82
  player_name
1 Gelson Fernandes
2 Filip Djuricic
3 Ricky van Wolfswinkel
4 Maarten Stekelenburg
5 Sergio Romero
6 Bryan Ruiz

# Q1 Which are the top 10 players by overall rating?

In [14]:
arrange(Players,desc(max_rating))%>%select(player_name,max_rating)%>%rename(Top_Ten_Players_by_Rating = player_name,Max_Rating=max_rating )%>%head(10)

   Top_Ten_Players_by_Rating Max_Rating
1  Lionel Messi              94
2  Cristiano Ronaldo         93
3  Gianluigi Buffon          93
4  Wayne Rooney              93
5  Gregory Coupet            92
6  Xavi Hernandez            92
7  Iker Casillas             91
8  Fabio Cannavaro           91
9  Ronaldinho                91
10 Andres Iniesta            91

# Q2:Which are the top 10 goalkeepers by sum of gk attributes?

In [13]:
arrange(Players,desc(max_gk))%>%select(player_name,max_gk)%>%rename(Top_Ten_Goalkepers_by_Sum_of_GK = player_name,Sum_GK_Attributes=max_gk )%>%head(10)

   Top_Ten_Goalkepers_by_Sum_of_GK Sum_GK_Attributes
1  Gianluigi Buffon                449
2  Gregory Coupet                  447
3  Petr Cech                       445
4  Iker Casillas                   442
5  Manuel Neuer                    440
6  Julio Cesar                     438
7  Sebastian Frey                  437
8  Edwin van der Sar               436
9  David De Gea                    429
10 Pepe Reina                      428

# Q3:Which are the top 10 players by number of appearances (with any team they played with)?

In [12]:
arrange(Players,desc(totalMatchPlayed))%>%select(player_name,totalMatchPlayed)%>%rename(Top_Ten_Goalkepers_by_Appearences = player_name,Total_Matches_Played=totalMatchPlayed )%>%head(10)

   Top_Ten_Goalkepers_by_Appearences Total_Matches_Played
1  Steve Mandanda                    300
2  Stephane Ruffier                  294
3  Samir Handanovic                  286
4  Gorka Iraizoz Moreno              286
5  Hugo Lloris                       282
6  Tim Howard                        282
7  Joe Hart                          275
8  Cedric Carrasso                   268
9  Daniel Congre                     262
10 Moussa Sissoko                    260

# Q4: Which are the top 10 players by number of leagues they played in?

In [7]:
arrange(Players,desc(totalLeaguecount))%>%select(player_name,totalLeaguecount)%>%rename(Top_Ten_Players_by_League_Count = player_name )%>%head(10)

   Top_Ten_Players_by_League_Count totalLeaguecount
1  Gelson Fernandes                6
2  Filip Djuricic                  5
3  Ricky van Wolfswinkel           5
4  Maarten Stekelenburg            4
5  Sergio Romero                   4
6  Bryan Ruiz                      4
7  Christian Poulsen               4
8  Ibrahim Afellay                 4
9  Danijel Pranjic                 4
10 Angel Di Maria                  4

# Q5:Which are the top 10 teams by sum of build up play attributes?

In [8]:
arrange(Teams,desc(maxTotalBuildUp))%>%select(team_long_name,maxTotalBuildUp)%>%rename(Top_Ten_Team_by_Build_UP = team_long_name,Sum_Build_up=maxTotalBuildUp )%>%head(10)

   Top_Ten_Team_by_Build_UP   Sum_Build_up
1  Torino                     209
2  Udinese                    205
3  Fortuna Düsseldorf         198
4  Podbeskidzie Bielsko-Biala 193
5  Korona Kielce              192
6  Carpi                      190
7  Widzew Lódz                190
8  Widzew Lódz                190
9  FC Nantes                  189
10 Lazio                      188

# Q6: Which are the top 10 teams by sum of chance creation attributes?

In [9]:
arrange(Teams,desc(maxTotalChanceCreation))%>%select(team_long_name,maxTotalChanceCreation)%>%rename(Top_Ten_Team_by_Chance_Creation = team_long_name ,Sum_Chance_Creation=maxTotalChanceCreation)%>%head(10)

   Top_Ten_Team_by_Chance_Creation Sum_Chance_Creation
1  Lazio                           220
2  SV Werder Bremen                216
3  Napoli                          215
4  Manchester City                 210
5  Tottenham Hotspur               210
6  Birmingham City                 210
7  Wolverhampton Wanderers         210
8  Burnley                         210
9  Swansea City                    210
10 Queens Park Rangers             210

# Q7 : Which are the top 10 teams by sum of defense attributes?

In [10]:
arrange(Teams,desc(maxTotalDefenceAttr))%>%select(team_long_name,maxTotalDefenceAttr)%>%rename(Top_Ten_Team_by_Defence_Attributes = team_long_name,Sum_Defence_Attributes=maxTotalDefenceAttr )%>%head(10)

   Top_Ten_Team_by_Defence_Attributes Sum_Defence_Attributes
1  KVC Westerlo                       210
2  Sporting Charleroi                 210
3  West Bromwich Albion               210
4  Hull City                          210
5  Birmingham City                    210
6  Wolverhampton Wanderers            210
7  Blackpool                          210
8  Swansea City                       210
9  Queens Park Rangers                210
10 Southampton                        210

# Q8: Which are the top 10 teams by number of scored goals?

In [11]:
arrange(Teams,desc(totalGoals))%>%select(team_long_name,totalGoals)%>%rename(Top_Ten_Team_by_Total_Goals_Scored = team_long_name,Total_Goals_Scored=totalGoals )%>%head(10)

   Top_Ten_Team_by_Total_Goals_Scored Total_Goals_Scored
1  FC Barcelona                       849
2  Real Madrid CF                     843
3  Celtic                             695
4  FC Bayern Munich                   653
5  PSV                                652
6  Ajax                               647
7  FC Basel                           619
8  Manchester City                    606
9  Chelsea                            583
10 Manchester United                  582