## Input: Kaggle Sqlite European Soccer Database

## Output: R data frames persisted in csv files to facilitate easy Q&A

## Process: sqllite to R data frames to csv.

1 : Load the libraries

In [1]:
library(dplyr)
library(purrr)
library(tidyr)
library(ggplot2)
library(broom)
library(magrittr)
library(RSQLite)
library(reshape2)
library(jsonlite)
library(knitr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Attaching package: 'purrr'

The following objects are masked from 'package:dplyr':

    contains, order_by


Attaching package: 'magrittr'

The following object is masked from 'package:tidyr':

    extract

The following object is masked from 'package:purrr':

    set_names


Attaching package: 'reshape2'

The following object is masked from 'package:tidyr':

    smiths


Attaching package: 'jsonlite'

The following object is masked from 'package:purrr':

    flatten

2 : Connect to the database and list the tables in DB

In [2]:
con = dbConnect(SQLite(), dbname="soccerdatabase.sqlite")
dbListTables(con)

[1] "Country"           "League"            "Match"
[4] "Player"            "Player_Attributes" "Team"
[7] "Team_Attributes"   "sqlite_sequence"

Load the tables as dataframe

In [3]:
Country = tbl_df(dbGetQuery(con,"SELECT * FROM Country"))
League = tbl_df(dbGetQuery(con,"SELECT * FROM League"))
Match = tbl_df(dbGetQuery(con,"SELECT * FROM Match"))
Player = tbl_df(dbGetQuery(con,"SELECT * FROM player"))
Player_Attributes = tbl_df(dbGetQuery(con,"SELECT * FROM Player_Attributes"))
Team = tbl_df(dbGetQuery(con,"SELECT * FROM Team"))
Team_Attributes = tbl_df(dbGetQuery(con,"SELECT * FROM Team_Attributes"))

# Q1: Which are the top 10 players by overall rating?

Look into the values of player and player_attributes df

In [4]:
head(Player)
head(Player_Attributes)

  id player_api_id player_name        player_fifa_api_id birthday
1 1  505942        Aaron Appindangoye 218353             1992-02-29 00:00:00
2 2  155782        Aaron Cresswell    189615             1989-12-15 00:00:00
3 3  162549        Aaron Doran        186170             1991-05-13 00:00:00
4 4   30572        Aaron Galindo      140161             1982-05-08 00:00:00
5 5   23780        Aaron Hughes        17725             1979-11-08 00:00:00
6 6   27316        Aaron Hunt         158138             1986-09-04 00:00:00
  height weight
1 182.88 187
2 170.18 146
3 170.18 163
4 182.88 198
5 182.88 154
6 182.88 161

  id player_fifa_api_id player_api_id date                overall_rating
1 1  218353             505942        2016-02-18 00:00:00 67
2 2  218353             505942        2015-11-19 00:00:00 67
3 3  218353             505942        2015-09-21 00:00:00 62
4 4  218353             505942        2015-03-20 00:00:00 61
5 5  218353             505942        2007-02-22 00:00:00 61
6 6  189615             155782        2016-04-21 00:00:00 74
  potential preferred_foot attacking_work_rate defensive_work_rate crossing ...
1 71        right          medium              medium              49       ...
2 71        right          medium              medium              49       ...
3 66        right          medium              medium              49       ...
4 65        right          medium              medium              48       ...
5 65        right          medium              medium              48       ...
6 76        left           high                medium              80       ...
  vision penalties marking standing_tackle sliding_tackle gk_diving gk_handling
1 54     48        65      69              69              6        11
2 54     48        65      69              69              6        11
3 54     48        65      66              69              6        11
4 53     47        62      63              66              5        10
5 53     47        62      63              66              5        10
6 66     59        76      75              78             14         7
  gk_kicking gk_positioning gk_reflexes
1 10         8               8
2 10         8               8
3 10         8               8
4  9         7               7
5  9         7               7
6  9         9              12

4: We need to join the 2 df and retain the player df with ratings in sorted order.

In [5]:
Player=group_by(Player_Attributes,player_api_id)%>%
summarise(max_rating=max(overall_rating))%>%           #find the maximum rating of each player
right_join(Player,by = "player_api_id")%>%             #join the rating temporary df with player df
arrange(desc(max_rating))                              #display
head(Player,n=10)

   player_api_id max_rating id    player_name       player_fifa_api_id
1  30981         94          6176 Lionel Messi      158023
2  30893         93          1995 Cristiano Ronaldo  20801
3  30717         93          3826 Gianluigi Buffon    1179
4  30829         93         10749 Wayne Rooney       54050
5  39989         92          3994 Gregory Coupet      1747
6  39854         92         10861 Xavi Hernandez     10535
7  30723         91           388 Alessandro Nesta    1088
8  30955         91           742 Andres Iniesta        41
9  34520         91          3183 Fabio Cannavaro     1183
10 30657         91          4366 Iker Casillas       5479
   birthday            height weight
1  1987-06-24 00:00:00 170.18 159
2  1985-02-05 00:00:00 185.42 176
3  1978-01-28 00:00:00 193.04 201
4  1985-10-24 00:00:00 175.26 183
5  1972-12-31 00:00:00 180.34 176
6  1980-01-25 00:00:00 170.18 148
7  1976-03-19 00:00:00 187.96 174
8  1984-05-11 00:00:00 170.18 150
9  1973-09-13 00:00:00 175.26 165
10 1981-05-20 00:00:00 185.42 185

# Q2. Which are the top 10 goalkeepers by sum of gk attributes?

In [6]:
# head(Player_Attributes)
# player2=group_by(Player_Attributes,player_api_id)%>%
# melt(Match,id = c(1:11), measure=c(12:33),na.rm = TRUE, value.name = "player_api_id")
# rowSums(Match","gk_diving":"gk_reflexes", na.rm=TRUE)
temp1=select(Player_Attributes, player_api_id,starts_with("gk_"))#select all the gk attributes
Player=mutate(temp1,total_gk=rowSums(temp1[,c(2,3,4,5,6)]))%>%   #sum the gk attributes
group_by(player_api_id)%>%                                       #group by player id to find gk attribute of each player
summarise(max_gk=max(total_gk))%>%                               #Find maximum of gk attributes of a player
arrange(desc(max_gk))%>%                                         #arrange in descending order to retrieve the top 10 players
left_join(Player)                                                #join the gk attribute df with player df
Player=select(Player,player_api_id,max_gk,max_rating,player_name)#display result
head(Player)

Joining, by = "player_api_id"

  player_api_id max_gk max_rating player_name
1 30717         449    93         Gianluigi Buffon
2 39989         447    92         Gregory Coupet
3 30859         445    89         Petr Cech
4 30657         442    91         Iker Casillas
5 27299         440    90         Manuel Neuer
6 30989         438    89         Julio Cesar

# Q4. Which are the top 10 players by number of leagues they played in?

In [7]:
#Filter only the required columns from the dataframes
#reference : Kaggle discussion
Country=rename(Country, country_id = id,country_name=name) #Filter country dataframe
League = select(League, country_id, name)                  #Filter League dataframe
League=rename(League,League_name=name)                     #Rename name column to avoid ambiguity
head(Country)
head(League)
Team = select(Team, team_api_id, team_long_name, team_short_name) 
head(Team)
Match = select(Match, id, country_id, league_id, season, stage, date, match_api_id, home_team_api_id, away_team_api_id, home_team_goal, away_team_goal, home_player_1, home_player_2, home_player_3, home_player_4, home_player_5, home_player_6, home_player_7, home_player_8, home_player_9, home_player_10, home_player_11, away_player_1, away_player_2, away_player_3, away_player_4, away_player_5, away_player_6, away_player_7, away_player_8, away_player_9, away_player_10, away_player_11, goal, shoton, shotoff, foulcommit, card, cross, corner, possession)
head(Match)
head(Player)

  country_id country_name
1     1      Belgium
2  1729      England
3  4769      France
4  7809      Germany
5 10257      Italy
6 13274      Netherlands

  country_id League_name
1     1      Belgium Jupiler League
2  1729      England Premier League
3  4769      France Ligue 1
4  7809      Germany 1. Bundesliga
5 10257      Italy Serie A
6 13274      Netherlands Eredivisie

  team_api_id team_long_name    team_short_name
1  9987       KRC Genk          GEN
2  9993       Beerschot AC      BAC
3 10000       SV Zulte-Waregem  ZUL
4  9994       Sporting Lokeren  LOK
5  9984       KSV Cercle Brugge CEB
6  8635       RSC Anderlecht    AND

  id country_id league_id season    stage date                match_api_id
1 1  1          1         2008/2009 1     2008-08-17 00:00:00 492473
2 2  1          1         2008/2009 1     2008-08-16 00:00:00 492474
3 3  1          1         2008/2009 1     2008-08-16 00:00:00 492475
4 4  1          1         2008/2009 1     2008-08-17 00:00:00 492476
5 5  1          1         2008/2009 1     2008-08-16 00:00:00 492477
6 6  1          1         2008/2009 1     2008-09-24 00:00:00 492478
  home_team_api_id away_team_api_id home_team_goal ... away_player_10
1  9987            9993             1              ... NA
2 10000            9994             0              ... NA
3  9984            8635             0              ... NA
4  9991            9998             5              ... NA
5  7947            9985             1              ... NA
6  8203            8342             1              ... NA
  away_player_11 goal shoton shotoff foulcommit card cross corner possession
1 NA             NA   NA     NA      NA         NA   NA    NA     NA
2 NA             NA   NA     NA      NA         NA   NA    NA     NA
3 NA             NA   NA     NA      NA         NA   NA    NA     NA
4 NA             NA   NA     NA      NA         NA   NA    NA     NA
5 NA             NA   NA     NA      NA         NA   NA    NA     NA
6 NA             NA   NA     NA      NA         NA   NA    NA     NA

  player_api_id max_gk max_rating player_name
1 30717         449    93         Gianluigi Buffon
2 39989         447    92         Gregory Coupet
3 30859         445    89         Petr Cech
4 30657         442    91         Iker Casillas
5 27299         440    90         Manuel Neuer
6 30989         438    89         Julio Cesar

7: Combining all the attributes to match_sublime table <br/>
 Mapping team api id to player api id<br\>
If player is home player , copy away api id else copy home api id.

In [8]:
head(Match[,12:33])
head(Match[,1:11])
match_sublime <-melt(Match,id = c(1:11), measure=c(12:33),na.rm = TRUE, value.name = "player_api_id")  
# 1:11 match attributes and 12:33 id of the 22 players
#melting both so as to represent them in single column
match_sublime=mutate(match_sublime,team_api_id=ifelse(grepl("home",variable),home_team_api_id,
                            ifelse(grepl("away",variable),away_team_api_id,NA)))
head(match_sublime)

  home_player_1 home_player_2 home_player_3 home_player_4 home_player_5
1 NA            NA            NA            NA            NA
2 NA            NA            NA            NA            NA
3 NA            NA            NA            NA            NA
4 NA            NA            NA            NA            NA
5 NA            NA            NA            NA            NA
6 NA            NA            NA            NA            NA
  home_player_6 home_player_7 home_player_8 home_player_9 home_player_10 ...
1 NA            NA            NA            NA            NA             ...
2 NA            NA            NA            NA            NA             ...
3 NA            NA            NA            NA            NA             ...
4 NA            NA            NA            NA            NA             ...
5 NA            NA            NA            NA            NA             ...
6 NA            NA            NA            NA            NA             ...
  away_player_2 away_player_3 away_player_4 away_player_5 away_player_6
1 NA            NA            NA            NA            NA
2 NA            NA            NA            NA            NA
3 NA            NA            NA            NA            NA
4 NA            NA            NA            NA            NA
5 NA            NA            NA            NA            NA
6 NA            NA            NA            NA            NA
  away_player_7 away_player_8 away_player_9 away_player_10 away_player_11
1 NA            NA            NA            NA             NA
2 NA            NA            NA            NA             NA
3 NA            NA            NA            NA             NA
4 NA            NA            NA            NA             NA
5 NA            NA            NA            NA             NA
6 NA            NA            NA            NA             NA

  id country_id league_id season    stage date                match_api_id
1 1  1          1         2008/2009 1     2008-08-17 00:00:00 492473
2 2  1          1         2008/2009 1     2008-08-16 00:00:00 492474
3 3  1          1         2008/2009 1     2008-08-16 00:00:00 492475
4 4  1          1         2008/2009 1     2008-08-17 00:00:00 492476
5 5  1          1         2008/2009 1     2008-08-16 00:00:00 492477
6 6  1          1         2008/2009 1     2008-09-24 00:00:00 492478
  home_team_api_id away_team_api_id home_team_goal away_team_goal
1  9987            9993             1              1
2 10000            9994             0              0
3  9984            8635             0              3
4  9991            9998             5              0
5  7947            9985             1              3
6  8203            8342             1              1

  id  country_id league_id season    stage date                match_api_id
1 145 1          1         2008/2009 24    2009-02-28 00:00:00 493016
2 146 1          1         2008/2009 24    2009-02-27 00:00:00 493017
3 147 1          1         2008/2009 24    2009-02-28 00:00:00 493018
4 149 1          1         2008/2009 24    2009-03-01 00:00:00 493020
5 150 1          1         2008/2009 24    2009-02-28 00:00:00 493021
6 151 1          1         2008/2009 24    2009-02-28 00:00:00 493022
  home_team_api_id away_team_api_id home_team_goal away_team_goal variable
1 9996             8635             1              1              home_player_1
2 8203             9987             2              1              home_player_1
3 9986             9998             3              0              home_player_1
4 9994             9991             0              1              home_player_1
5 8342             9999             2              1              home_player_1
6 9993             8571             3              0              home_player_1
  player_api_id team_api_id
1 39890         9996
2 38327         8203
3 95597         9986
4 30934         9994
5 37990         8342
6 38391         9993

8: Mapping team api id to player api id<br\>
If player is home player , copy away api id else copy home api id.

In [9]:
#Reference: Kaggle discussion
match_sublime_alljoin=left_join(match_sublime,Team, by = "team_api_id")%>%
left_join(Player, by = "player_api_id") %>% # adding team to each player
left_join(Country, by = "country_id") %>% # adding country attributes
left_join(League, by = "country_id") # adding league attributes

In [10]:
tail(match_sublime_alljoin)

       id    country_id league_id season    stage date
542276 25974 24558      24558     2015/2016 8     2015-09-13 00:00:00
542277 25975 24558      24558     2015/2016 9     2015-09-22 00:00:00
542278 25976 24558      24558     2015/2016 9     2015-09-23 00:00:00
542279 25977 24558      24558     2015/2016 9     2015-09-23 00:00:00
542280 25978 24558      24558     2015/2016 9     2015-09-22 00:00:00
542281 25979 24558      24558     2015/2016 9     2015-09-23 00:00:00
       match_api_id home_team_api_id away_team_api_id home_team_goal ...
542276 1992090      10179             7896            3              ...
542277 1992091      10190            10191            1              ...
542278 1992092       9824            10199            1              ...
542279 1992093       9956            10179            2              ...
542280 1992094       7896            10243            0              ...
542281 1992095      10192             9931            4              ...
       variable       player_api_id team_api_id team_long_name team_short_name
542276 away_player_11 178142         7896       Lugano         LUG
542277 away_player_11 289732        10191       FC Thun        THU
542278 away_player_11  95257        10199       FC Luzern      LUZ
542279 away_player_11 275122        10179       FC Sion        SIO
542280 away_player_11 194532        10243       FC Zürich      ZUR
542281 away_player_11 527103         9931       FC Basel       BAS
       max_gk max_rating player_name     country_name League_name
542276  55    62         Mattia Bottani  Switzerland  Switzerland Super League
542277  45    67         Roman Buess     Switzerland  Switzerland Super League
542278 145    73         Jakob Jantscher Switzerland  Switzerland Super League
542279  44    73         Moussa Konate   Switzerland  Switzerland Super League
542280  53    68         Franck Etoundi  Switzerland  Switzerland Super League
542281  45    76         Breel Embolo    Switzerland  Switzerland Super League

9: Solution: Which are the top 10 players by number of leagues they played in?

In [11]:
Player=select(match_sublime_alljoin,League_name,player_api_id)%>% #select league name corresponding to player api id 
group_by(player_api_id,League_name)%>%                            #Group by player_Api_id and League Name
summarize(oneLeaguecount=n())%>%                                  #count by league name
group_by(player_api_id)%>%                                        #group by player api id
summarize(totalLeaguecount=n())%>%                                #count no of leagues played by each player      
right_join(Player, by="player_api_id")%>%
arrange(desc(totalLeaguecount))
head(Player)

  player_api_id totalLeaguecount max_gk max_rating player_name
1  42119        6                 NA    NA         Gelson Fernandes
2 178538        5                134    77         Filip Djuricic
3 116750        5                106    77         Ricky van Wolfswinkel
4  30841        4                424    85         Maarten Stekelenburg
5 109060        4                392    78         Sergio Romero
6  38229        4                181    82         Bryan Ruiz

# Q5: Which are the top 10 teams by sum of build up play attributes?

In [12]:
head(Team)
head(Team_Attributes)

  team_api_id team_long_name    team_short_name
1  9987       KRC Genk          GEN
2  9993       Beerschot AC      BAC
3 10000       SV Zulte-Waregem  ZUL
4  9994       Sporting Lokeren  LOK
5  9984       KSV Cercle Brugge CEB
6  8635       RSC Anderlecht    AND

  id team_fifa_api_id team_api_id date                buildUpPlaySpeed
1 1  434              9930        2010-02-22 00:00:00 60
2 2  434              9930        2014-09-19 00:00:00 52
3 3  434              9930        2015-09-10 00:00:00 47
4 4   77              8485        2010-02-22 00:00:00 70
5 5   77              8485        2011-02-22 00:00:00 47
6 6   77              8485        2012-02-22 00:00:00 58
  buildUpPlaySpeedClass buildUpPlayDribbling buildUpPlayDribblingClass
1 Balanced              NA                   Little
2 Balanced              48                   Normal
3 Balanced              41                   Normal
4 Fast                  NA                   Little
5 Balanced              NA                   Little
6 Balanced              NA                   Little
  buildUpPlayPassing buildUpPlayPassingClass ... chanceCreationShooting
1 50                 Mixed                   ... 55
2 56                 Mixed                   ... 64
3 54                 Mixed                   ... 64
4 70                 Long                    ... 70
5 52                 Mixed                   ... 52
6 62                 Mixed                   ... 55
  chanceCreationShootingClass chanceCreationPositioningClass defencePressure
1 Normal                      Organised                      50
2 Normal                      Organised                      47
3 Normal                      Organised                      47
4 Lots                        Organised                      60
5 Normal                      Organised                      47
6 Normal                      Organised                      40
  defencePressureClass defenceAggression defenceAggressionClass
1 Medium               55                Press
2 Medium               44                Press
3 Medium               44                Press
4 Medium               70                Double
5 Medium               47                Press
6 Medium               40                Press
  defenceTeamWidth defenceTeamWidthClass defenceDefenderLineClass
1 45               Normal                Cover
2 54               Normal                Cover
3 54               Normal                Cover
4 70               Wide                  Cover
5 52               Normal                Cover
6 60               Normal                Cover

In [13]:
TeamBuildUp=select(Team_Attributes,team_api_id,starts_with("buildUp"))%>%#select all column starting with buildUp
na.omit()%>%                                                             #omit na
select_if(is.numeric)                                                    #select only numeric columns
Team=mutate(TeamBuildUp,totalBuildUp=rowSums(TeamBuildUp[,2:4]))%>%      #sum the buildup attributes
select(team_api_id,totalBuildUp)%>%
group_by(team_api_id)%>%
summarize(maxTotalBuildUp=max(totalBuildUp))%>%                          #find the maximum among all build up attribute of each player
right_join(Team,by="team_api_id")%>%
na.omit()

11: Solution: Which are the top 10 teams by sum of build up play attributes?

In [14]:
a=arrange(Team,desc(maxTotalBuildUp))
a[1:10,]

   team_api_id maxTotalBuildUp team_long_name             team_short_name
1    9804      209             Torino                     TOR
2    8600      205             Udinese                    UDI
3    8194      198             Fortuna Düsseldorf         FDU
4    8033      193             Podbeskidzie Bielsko-Biala POD
5    8245      192             Korona Kielce              KKI
6  208931      190             Carpi                      CAP
7    8244      190             Widzew Lódz                LOD
8    8024      190             Widzew Lódz                WID
9    9830      189             FC Nantes                  NAN
10   8543      188             Lazio                      LAZ

#  Q6. Which are the top 10 teams by sum of chance creation attributes?

In [15]:
# #the same as of buildup
TeamChanceCreation=select(Team_Attributes,team_api_id,starts_with("chanceCreation"))%>%#select all column starting with buildUp
na.omit()%>%#omit na
select_if(is.numeric)                                                                   #select only numeric columns
Team=mutate(TeamChanceCreation,totalChanceCreation=rowSums(TeamChanceCreation[,2:4]))%>%#sum the chance creatuin attributes
select(team_api_id,totalChanceCreation)%>%
group_by(team_api_id)%>%
summarize(maxTotalChanceCreation=max(totalChanceCreation))%>%                            #find max of chance creations of a player
right_join(Team,by="team_api_id")%>%
na.omit()

13: Solution: Which are the top 10 teams by sum of build up play attributes?

In [16]:
b=arrange(Team,desc(maxTotalChanceCreation))
b[1:10,]

   team_api_id maxTotalChanceCreation maxTotalBuildUp team_long_name
1   8543       220                    188             Lazio
2   8697       216                    174             SV Werder Bremen
3   9875       215                    180             Napoli
4   8456       210                    123             Manchester City
5   8586       210                    133             Tottenham Hotspur
6   8658       210                    174             Birmingham City
7   8602       210                    136             Wolverhampton Wanderers
8   8191       210                    154             Burnley
9  10003       210                    131             Swansea City
10 10172       210                    141             Queens Park Rangers
   team_short_name
1  LAZ
2  WBR
3  NAP
4  MCI
5  TOT
6  BIR
7  WOL
8  BUR
9  SWA
10 QPR

#  Q7. Which are the top 10 teams by sum of defense attributes??

In [17]:
#the same as of buildup
TeamDefenceAttr=select(Team_Attributes,team_api_id,starts_with("defence"))%>%#select all column starting with buildUp
na.omit()%>%#omit na
select_if(is.numeric)                                                          #select only numeric columns
Team=mutate(TeamDefenceAttr,totalDefenceAttr=rowSums(TeamDefenceAttr[,2:4]))%>%#sum the defense attributes
select(team_api_id,totalDefenceAttr)%>%
group_by(team_api_id)%>%
summarize(maxTotalDefenceAttr=max(totalDefenceAttr))%>%                        #select max of defense attribute
right_join(Team,by="team_api_id")%>%
na.omit()
Team

    team_api_id maxTotalDefenceAttr maxTotalChanceCreation maxTotalBuildUp
1     9987      205                 182                    148
2    10000      200                 153                    147
3     9994      200                 154                    159
4     9984      195                 200                    145
5     8635      190                 182                    149
6     9991      166                 184                    142
7     9998      138                 168                    160
8     9985      205                 182                    161
9     8203      190                 150                    134
10    8342      200                 170                    139
11    8571      185                 159                    129
12    9996      140                 150                    150
13   10001      210                 167                    148
14    9986      210                 148                    160
15    9989      159                 169                    171
16    1773      137                 157                    153
17    8475      114                 140                    132
18    8573      133                 140                    155
19  274581      140                 150                    150
20   10260      163                 200                    134
21   10261      161                 195                    152
22    9825      170                 150                    140
23    8659      210                 195                    145
24    8472      165                 195                    154
25    8650      172                 180                    171
26    8654      140                 171                    184
27    8528      165                 190                    144
28   10252      145                 185                    170
29    8456      180                 210                    123
30    8668      180                 180                    137
... ...         ...                 ...                    ...
233  8479       151                 140                    148
234  8558       180                 196                    146
235 10281       161                 172                    153
236  8315       170                 184                    131
237  9865       193                 180                    152
238  9906       160                 206                    157
239  9864       164                 191                    129
240  8394       158                 166                    154
241  9867       174                 180                    163
242 10278       160                 178                    154
243  8581       155                 182                    171
244  8560       171                 171                    162
245  7878       170                 200                    166
246  8370       178                 161                    141
247  9910       169                 179                    169
248 10268       158                 165                    171
249  8372       142                 179                    165
250  7869       129                 171                    146
251  8306       171                 187                    147
252  9956       160                 184                    164
253 10192       170                 202                    172
254  9931       180                 186                    170
255  9930       150                 181                    156
256 10179       146                 177                    155
257 10199       153                 175                    165
258  9824       133                 137                    141
259 10243       163                 165                    157
260 10190       155                 157                    146
261 10191       145                 166                    152
262  7730       165                 164                    141
    team_long_name          team_short_name
1   KRC Genk                GEN
2   SV Zulte-Waregem        ZUL
3   Sporting Lokeren        LOK
4   KSV Cercle Brugge       CEB
5   RSC Anderlecht          AND
6   KAA Gent                GEN
7   RAEC Mons               MON
8   Standard de Liège       STL
9   KV Mechelen             MEC
10  Club Brugge KV          CLB
11  KV Kortrijk             KOR
12  Royal Excel Mouscron    MOU
13  KVC Westerlo            WES
14  Sporting Charleroi      CHA
15  Lierse SK               LIE
16  Oud-Heverlee Leuven     O-H
17  Waasland-Beveren        WAA
18  KV Oostende             OOS
19  Royal Excel Mouscron    MOP
20  Manchester United       MUN
21  Newcastle United        NEW
22  Arsenal                 ARS
23  West Bromwich Albion    WBA
24  Sunderland              SUN
25  Liverpool               LIV
26  West Ham United         WHU
27  Wigan Athletic          WIG
28  Aston Villa             AVL
29  Manchester City         MCI
30  Everton                 EVE
... ...                     ...
233 RC Recreativo           HUE
234 RCD Espanyol            ESP
235 Real Valladolid         VAL
236 Athletic Club de Bilbao BIL
237 UD Almería              ALM
238 Atlético Madrid         AMA
239 Málaga CF               MAL
240 Real Zaragoza           ZAR
241 CD Tenerife             TEN
242 Hércules Club de Fútbol HER
243 Levante UD              LEV
244 Real Sociedad           SOC
245 Granada CF              GRA
246 Rayo Vallecano          RAY
247 RC Celta de Vigo        CEL
248 Elche CF                ELC
249 SD Eibar                EIB
250 Córdoba CF              COR
251 UD Las Palmas           LAS
252 Grasshopper Club Zürich GRA
253 BSC Young Boys          YB
254 FC Basel                BAS
255 FC Aarau                AAR
256 FC Sion                 SIO
257 FC Luzern               LUZ
258 FC Vaduz                VAD
259 FC Zürich               ZUR
260 FC St. Gallen           GAL
261 FC Thun                 THU
262 FC Lausanne-Sports      LAU

15: Solution: Which are the top 10 teams by sum of defense attributes??

In [18]:
c=arrange(Team,desc(maxTotalDefenceAttr))
c[1:10,]

   team_api_id maxTotalDefenceAttr maxTotalChanceCreation maxTotalBuildUp
1  10001       210                 167                    148
2   9986       210                 148                    160
3   8659       210                 195                    145
4   8667       210                 195                    151
5   8658       210                 210                    174
6   8602       210                 210                    136
7   8483       210                 205                    183
8  10003       210                 210                    131
9  10172       210                 210                    141
10  8466       210                 205                    129
   team_long_name          team_short_name
1  KVC Westerlo            WES
2  Sporting Charleroi      CHA
3  West Bromwich Albion    WBA
4  Hull City               HUL
5  Birmingham City         BIR
6  Wolverhampton Wanderers WOL
7  Blackpool               BLA
8  Swansea City            SWA
9  Queens Park Rangers     QPR
10 Southampton             SOU

#  Q8. Which are the top 10 teams by number of scored goals?

In [19]:
homeTeamGoal=select(Match,home_team_api_id,home_team_goal)%>%#select home team column
group_by(home_team_api_id)%>%
summarize(totalGoals=sum(home_team_goal))%>% #sum goals by same team api id
rename(team_api_id=home_team_api_id) #rename column for rbind
awayTeamGoal=select(Match,away_team_api_id,away_team_goal)%>%#select away team column
group_by(away_team_api_id)%>%
summarize(totalGoals=sum(away_team_goal))%>%#sum goals by same team api id
rename(team_api_id=away_team_api_id)#rename column for rbind
Team=rbind(homeTeamGoal,awayTeamGoal)%>%#stack  homeTeamGoal and awayTeamGoal on top of each other
group_by(team_api_id)%>%#group similar team together
summarize(totalGoals=sum(totalGoals))%>%#sum up goals by same team id
right_join(Team,by="team_api_id")#join the data with Team dataframe

15: Solution: Which are the top 10 teams by number of scored goals?¶

In [20]:
arrange(Team,desc(totalGoals))

    team_api_id totalGoals maxTotalDefenceAttr maxTotalChanceCreation
1    8634       849        195                 175
2    8633       843        178                 200
3    9925       695        200                 205
4    9823       653        184                 205
5    8640       652        167                 200
6    8593       647        193                 199
7    9931       619        180                 186
8    8456       606        180                 210
9    8455       583        168                 200
10  10260       582        163                 200
11   9825       573        170                 150
12   9847       568        210                 191
13   9772       568        175                 185
14   9789       551        178                 194
15   9885       543        169                 195
16   9773       541        178                 196
17   8650       531        172                 180
18   8686       530        155                 208
19  10192       529        170                 202
20   9906       524        160                 206
21   9875       514        165                 215
22   8611       509        197                 172
23   9748       497        200                 185
24   8564       496        164                 177
25   8636       496        165                 203
26  10229       492        184                 185
27  10235       489        160                 165
28  10267       484        175                 185
29   8178       483        200                 210
30   8586       481        181                 210
... ...         ...        ...                 ...
233   9867      40         174                 180
234   8194      39         169                 190
235   9836      38         149                 165
236   8262      38         129                 174
237   8388      38         158                 160
238   6391      37         146                 179
239 208931      37         141                 160
240  10278      36         160                 178
241   8152      35         185                 190
242   9891      35         193                 156
243   9858      34         155                 180
244   6269      34         151                 172
245   8479      34         151                 140
246   8234      33         140                 151
247   8344      32         210                 210
248   8550      31         150                 175
249   8460      31         145                 168
250   9746      30         168                 180
251   8398      30         206                 175
252   8295      30         170                 205
253   8690      30         140                 186
254   9912      29         138                 165
255   9776      29         157                 195
256   6547      29         121                 146
257   8549      28         147                 190
258   9878      27         145                 180
259   8357      26         170                 170
260   6631      24         164                 176
261   7869      22         129                 171
262 108893      21         158                 141
    maxTotalBuildUp team_long_name          team_short_name
1   122             FC Barcelona            BAR
2   153             Real Madrid CF          REA
3   180             Celtic                  CEL
4    97             FC Bayern Munich        BMU
5   153             PSV                     PSV
6   117             Ajax                    AJA
7   170             FC Basel                BAS
8   123             Manchester City         MCI
9   157             Chelsea                 CHE
10  134             Manchester United       MUN
11  140             Arsenal                 ARS
12  174             Paris Saint-Germain     PSG
13  178             SL Benfica              BEN
14  170             Borussia Dortmund       DOR
15  105             Juventus                JUV
16  173             FC Porto                POR
17  171             Liverpool               LIV
18  153             Roma                    ROM
19  172             BSC Young Boys          YB
20  157             Atlético Madrid         AMA
21  180             Napoli                  NAP
22  131             FC Twente               TWE
23  161             Olympique Lyonnais      LYO
24  170             Milan                   ACM
25  182             Inter                   INT
26  154             AZ                      ALK
27  154             Feyenoord               FEY
28  116             Valencia CF             VAL
29  157             Bayer 04 Leverkusen     LEV
30  133             Tottenham Hotspur       TOT
... ...             ...                     ...
233 163             CD Tenerife             TEN
234 198             Fortuna Düsseldorf      FDU
235 154             Dijon FCO               DIJ
236 179             SV Darmstadt 98         DAR
237 137             CD Numancia             NUM
238 153             GFC Ajaccio             GAJ
239 190             Carpi                   CAP
240 154             Hércules Club de Fútbol HER
241 161             FC St. Pauli            STP
242 157             Frosinone               FRO
243 141             Brescia                 BRE
244 179             Novara                  NOV
245 148             RC Recreativo           HUE
246 160             FC Ingolstadt 04        ING
247 168             Cardiff City            CAR
248 152             FC Metz                 MET
249 175             SC Paderborn 07         PAD
250 154             Le Havre AC             LEH
251 126             FC Energie Cottbus      COT
252 164             Karlsruher SC           KAR
253 163             Reggio Calabria         REG
254 166             DSC Arminia Bielefeld   BIE
255 183             Eintracht Braunschweig  BRA
256 147             FC Penafiel             PEN
257 144             Middlesbrough           MID
258 152             Pescara                 PES
259 167             SpVgg Greuther Fürth    GRF
260 134             FC Dordrecht            DOR
261 146             Córdoba CF              COR
262 156             AC Arles-Avignon        ARL

### Q3 Which are the top 10 players by number of appearances (with any team they played with)?

16: In match_sublime dataframe , we had molten down all the player columns [12:33] to player_Api_id column. Also, in the same data frame we have the match api id of each players. Grouping the players by player api id and counting their match api id will give the number of matches each played irrespective of teams.

In [21]:
head(match_sublime)

  id  country_id league_id season    stage date                match_api_id
1 145 1          1         2008/2009 24    2009-02-28 00:00:00 493016
2 146 1          1         2008/2009 24    2009-02-27 00:00:00 493017
3 147 1          1         2008/2009 24    2009-02-28 00:00:00 493018
4 149 1          1         2008/2009 24    2009-03-01 00:00:00 493020
5 150 1          1         2008/2009 24    2009-02-28 00:00:00 493021
6 151 1          1         2008/2009 24    2009-02-28 00:00:00 493022
  home_team_api_id away_team_api_id home_team_goal away_team_goal variable
1 9996             8635             1              1              home_player_1
2 8203             9987             2              1              home_player_1
3 9986             9998             3              0              home_player_1
4 9994             9991             0              1              home_player_1
5 8342             9999             2              1              home_player_1
6 9993             8571             3              0              home_player_1
  player_api_id team_api_id
1 39890         9996
2 38327         8203
3 95597         9986
4 30934         9994
5 37990         8342
6 38391         9993

17:

In [22]:
Player=select(match_sublime,match_api_id,player_api_id)%>%   #select match id and player id from molten dataframe
group_by(player_api_id)%>%                                   #group by each player
summarize(totalMatchPlayed=n())%>%                           #find number of match played by each player
right_join(Player,by="player_api_id")                        #join with the player table
# arrange(Player,desc(totalMatchPlayed))%>%head(10)

18: Solution Q3

In [27]:
arrange(Player,desc(totalMatchPlayed))%>%head(10)%>%select(player_name,totalMatchPlayed)

   player_name          totalMatchPlayed
1  Steve Mandanda       300
2  Stephane Ruffier     294
3  Samir Handanovic     286
4  Gorka Iraizoz Moreno 286
5  Hugo Lloris          282
6  Tim Howard           282
7  Joe Hart             275
8  Cedric Carrasso      268
9  Daniel Congre        262
10 Moussa Sissoko       260

# Write the data to .csv files

In [23]:
write.csv(Team, "TeamData.csv",na="")
write.csv(Player, "PlayerData.csv",na="")

In [28]:
head(Team)
head(Player)

  team_api_id totalGoals maxTotalDefenceAttr maxTotalChanceCreation
1  9987       348        205                 182
2 10000       306        200                 153
3  9994       279        200                 154
4  9984       213        195                 200
5  8635       427        190                 182
6  9991       390        166                 184
  maxTotalBuildUp team_long_name    team_short_name
1 148             KRC Genk          GEN
2 147             SV Zulte-Waregem  ZUL
3 159             Sporting Lokeren  LOK
4 145             KSV Cercle Brugge CEB
5 149             RSC Anderlecht    AND
6 142             KAA Gent          GEN

  player_api_id totalMatchPlayed totalLeaguecount max_gk max_rating
1  42119        175              6                 NA    NA
2 178538        105              5                134    77
3 116750        151              5                106    77
4  30841        147              4                424    85
5 109060        101              4                392    78
6  38229        167              4                181    82
  player_name
1 Gelson Fernandes
2 Filip Djuricic
3 Ricky van Wolfswinkel
4 Maarten Stekelenburg
5 Sergio Romero
6 Bryan Ruiz