<h1>Two-table verbs

Mutating joins : add new variables to one table from matching rows in another.<br\>
Filtering joins: filter observations from one table based on whether or not they match
an observation in the other table.<br\>Set operations : combine the observations in the data sets as if they were set
elements.

The first two arguments are x and y, and provide the tables to combine. The output is always a new table with the same type as x

Mutating joins allow you to combine variables from multiple tables.<br\>
table1 | flight->abbreviation , table2 | abbreviation - > full name <br>
mutate can produce table3 | flight name -> full name

In [1]:
install.packages("nycflights13",, repos="http://cran.us.r-project.org/")
library("nycflights13")
library(dplyr)

package 'nycflights13' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\vivek\AppData\Local\Temp\RtmpEXLgkN\downloaded_packages

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
flights2 <- flights%>%
select(year:day, hour, origin, dest, tailnum, carrier) 
#selectinfg a subset of original table and storing in flights2
head(flights2)

  year month day hour origin dest tailnum carrier
1 2013 1     1   5    EWR    IAH  N14228  UA
2 2013 1     1   5    LGA    IAH  N24211  UA
3 2013 1     1   5    JFK    MIA  N619AA  AA
4 2013 1     1   5    JFK    BQN  N804JB  B6
5 2013 1     1   6    LGA    ATL  N668DN  DL
6 2013 1     1   5    EWR    ORD  N39463  UA

In [3]:
head(airlines)

  carrier name
1 9E      Endeavor Air Inc.
2 AA      American Airlines Inc.
3 AS      Alaska Airlines Inc.
4 B6      JetBlue Airways
5 DL      Delta Air Lines Inc.
6 EV      ExpressJet Airlines Inc.

We need to match flight data with career full name

In [4]:
head(left_join(flights2,airlines))

Joining, by = "carrier"

  year month day hour origin dest tailnum carrier name
1 2013 1     1   5    EWR    IAH  N14228  UA      United Air Lines Inc.
2 2013 1     1   5    LGA    IAH  N24211  UA      United Air Lines Inc.
3 2013 1     1   5    JFK    MIA  N619AA  AA      American Airlines Inc.
4 2013 1     1   5    JFK    BQN  N804JB  B6      JetBlue Airways
5 2013 1     1   6    LGA    ATL  N668DN  DL      Delta Air Lines Inc.
6 2013 1     1   5    EWR    ORD  N39463  UA      United Air Lines Inc.

Controlling how the tables are matched

use of -> argument by

It controls which variables are used
to match observations in the two tables

If we dont specify by, then by=NULL, the default. dplyr will use all variables that appear in both tables, a natural join. For
example, the flights and weather tables match on their common variables: year, month, day,
hour and origin.

In [5]:
head(flights2 %>% left_join(weather))

Joining, by = c("year", "month", "day", "hour", "origin")

  year month day hour origin dest tailnum carrier temp  dewp  humid wind_dir
1 2013 1     1   5    EWR    IAH  N14228  UA         NA    NA    NA  NA
2 2013 1     1   5    LGA    IAH  N24211  UA         NA    NA    NA  NA
3 2013 1     1   5    JFK    MIA  N619AA  AA         NA    NA    NA  NA
4 2013 1     1   5    JFK    BQN  N804JB  B6         NA    NA    NA  NA
5 2013 1     1   6    LGA    ATL  N668DN  DL      39.92 26.06 57.33 260
6 2013 1     1   5    EWR    ORD  N39463  UA         NA    NA    NA  NA
  wind_speed wind_gust precip pressure visib time_hour
1       NA         NA  NA         NA   NA    <NA>
2       NA         NA  NA         NA   NA    <NA>
3       NA         NA  NA         NA   NA    <NA>
4       NA         NA  NA         NA   NA    <NA>
5 13.80936   15.89154   0     1011.9   10    2013-01-01 01:00:00
6       NA         NA  NA         NA   NA    <NA>

In [6]:
head(flights2 %>% left_join(planes, by = "tailnum"))
#joins the columns by the tail number, that is to say that join the table flight2 and 
#the table planes where their tailnum are common
#other columns are disambigufied by appending .x and .y to distinguish between
#first and second table

  year.x month day hour origin dest tailnum carrier year.y
1 2013   1     1   5    EWR    IAH  N14228  UA      1999
2 2013   1     1   5    LGA    IAH  N24211  UA      1998
3 2013   1     1   5    JFK    MIA  N619AA  AA      1990
4 2013   1     1   5    JFK    BQN  N804JB  B6      2012
5 2013   1     1   6    LGA    ATL  N668DN  DL      1991
6 2013   1     1   5    EWR    ORD  N39463  UA      2012
  type                    manufacturer model     engines seats speed engine
1 Fixed wing multi engine BOEING       737-824   2       149   NA    Turbo-fan
2 Fixed wing multi engine BOEING       737-824   2       149   NA    Turbo-fan
3 Fixed wing multi engine BOEING       757-223   2       178   NA    Turbo-fan
4 Fixed wing multi engine AIRBUS       A320-232  2       200   NA    Turbo-fan
5 Fixed wing multi engine BOEING       757-232   2       178   NA    Turbo-fan
6 Fixed wing multi engine BOEING       737-924ER 2       191   NA    Turbo-fan

A named character vector: by = c("x" = "a"). This will match variable x in table x to variable
a in table b. The variables from use will be used in the output.

In [7]:
head(airports)
head(flights2)
#we want to join faa column with dest column

  faa name                           lat      lon       alt  tz dst
1 04G Lansdowne Airport              41.13047 -80.61958 1044 -5 A
2 06A Moton Field Municipal Airport  32.46057 -85.68003  264 -6 A
3 06C Schaumburg Regional            41.98934 -88.10124  801 -6 A
4 06N Randall Airport                41.43191 -74.39156  523 -5 A
5 09J Jekyll Island Airport          31.07447 -81.42778   11 -5 A
6 0A9 Elizabethton Municipal Airport 36.37122 -82.17342 1593 -5 A
  tzone
1 America/New_York
2 America/Chicago
3 America/Chicago
4 America/New_York
5 America/New_York
6 America/New_York

  year month day hour origin dest tailnum carrier
1 2013 1     1   5    EWR    IAH  N14228  UA
2 2013 1     1   5    LGA    IAH  N24211  UA
3 2013 1     1   5    JFK    MIA  N619AA  AA
4 2013 1     1   5    JFK    BQN  N804JB  B6
5 2013 1     1   6    LGA    ATL  N668DN  DL
6 2013 1     1   5    EWR    ORD  N39463  UA

In [8]:
head(flights2 %>% left_join(airports, c("dest" = "faa")))

  year month day hour origin dest tailnum carrier
1 2013 1     1   5    EWR    IAH  N14228  UA
2 2013 1     1   5    LGA    IAH  N24211  UA
3 2013 1     1   5    JFK    MIA  N619AA  AA
4 2013 1     1   5    JFK    BQN  N804JB  B6
5 2013 1     1   6    LGA    ATL  N668DN  DL
6 2013 1     1   5    EWR    ORD  N39463  UA
  name                            lat      lon       alt  tz dst
1 George Bush Intercontinental    29.98443 -95.34144   97 -6 A
2 George Bush Intercontinental    29.98443 -95.34144   97 -6 A
3 Miami Intl                      25.79325 -80.29056    8 -5 A
4 NA                                    NA        NA   NA NA NA
5 Hartsfield Jackson Atlanta Intl 33.63672 -84.42807 1026 -5 A
6 Chicago Ohare Intl              41.97860 -87.90484  668 -6 A
  tzone
1 America/Chicago
2 America/Chicago
3 America/New_York
4 NA
5 America/New_York
6 America/Chicago

In [9]:
#to join origin with faa
head(flights2 %>% left_join(airports, c("origin" = "faa")))

  year month day hour origin dest tailnum carrier name                lat
1 2013 1     1   5    EWR    IAH  N14228  UA      Newark Liberty Intl 40.69250
2 2013 1     1   5    LGA    IAH  N24211  UA      La Guardia          40.77725
3 2013 1     1   5    JFK    MIA  N619AA  AA      John F Kennedy Intl 40.63975
4 2013 1     1   5    JFK    BQN  N804JB  B6      John F Kennedy Intl 40.63975
5 2013 1     1   6    LGA    ATL  N668DN  DL      La Guardia          40.77725
6 2013 1     1   5    EWR    ORD  N39463  UA      Newark Liberty Intl 40.69250
  lon       alt tz dst tzone
1 -74.16867 18  -5 A   America/New_York
2 -73.87261 22  -5 A   America/New_York
3 -73.77893 13  -5 A   America/New_York
4 -73.77893 13  -5 A   America/New_York
5 -73.87261 22  -5 A   America/New_York
6 -74.16867 18  -5 A   America/New_York

Types of join

differ in their behaviour when a match is not found.

In [10]:
df1 <- data_frame(x = c(1, 2), y = 2:1)
df2 <- data_frame(x = c(1, 3), a = 10, b = "a")

In [11]:
df1
df2

  x y
1 1 2
2 2 1

  x a  b
1 1 10 a
2 3 10 a

◦ inner_join(x, y) only includes observations that match in both x and y.

In [12]:
df1 %>% inner_join(df2)

Joining, by = "x"

  x y a  b
1 1 2 10 a

left_join(x, y) includes all observations in x, regardless of whether they match or not. This
is the most commonly used join because it ensures that you don’t lose observations from
your primary table.

In [13]:
df1
df2
df1 %>% left_join(df2)

  x y
1 1 2
2 2 1

  x a  b
1 1 10 a
2 3 10 a

Joining, by = "x"

  x y a  b
1 1 2 10 a
2 2 1 NA NA

right_join(x, y) includes all observations in y. It’s equivalent to left_join(y, x), but the
columns will be ordered differently.

In [14]:
df1
df2
df1 %>% right_join(df2)
#has all the columns of df2 and matching rows and column of df1
#right_join(x, y) includes all observations in y. It’s equivalent to left_join(y, x), but the columns will be ordered differently.

  x y
1 1 2
2 2 1

  x a  b
1 1 10 a
2 3 10 a

Joining, by = "x"

  x y  a  b
1 1  2 10 a
2 3 NA 10 a

In [15]:
df1
df2
df1 %>% full_join(df2)
# full_join() includes all observations from x and y.

  x y
1 1 2
2 2 1

  x a  b
1 1 10 a
2 3 10 a

Joining, by = "x"

  x y  a  b
1 1  2 10 a
2 2  1 NA NA
3 3 NA 10 a

Outer join : The left, right and full joins are collectively know as outer joins. When a row doesn’t match in an outer join, the new variables are filled in with missing values.

While mutating joins are primarily used to add new variables, they can also generate new observations. If a match is not unique, a join will add all possible combinations (the Cartesian product) of the matching observations:

In [16]:
df1 <- data_frame(x = c(1, 1, 2), y = 1:3)
df2 <- data_frame(x = c(1, 1, 2), z = c("a", "b", "a"))

In [17]:
df1
df2

  x y
1 1 1
2 1 2
3 2 3

  x z
1 1 a
2 1 b
3 2 a

In [18]:
left_join(df1,df2)

Joining, by = "x"

  x y z
1 1 1 a
2 1 1 b
3 1 2 a
4 1 2 b
5 2 3 a

◦ semi_join(x, y) keeps all observations in x that have a match in y.<br\> ◦ anti_join(x, y) drops all observations in x that have a match in y. and only keeps the observations of x, since the non matching observations wont have a value in y<br\>

In [19]:
df1 <- data_frame(x = c(1, 2), y = 2:1)
df2 <- data_frame(x = c(1, 3), a = 10, b = "a")
df1
df2
anti_join(df1,df2)#drops all rows in df1 that are not in df2
semi_join(df1,df2)#keeps all the rows from x that matches rows in y

  x y
1 1 2
2 2 1

  x a  b
1 1 10 a
2 3 10 a

Joining, by = "x"

  x y
1 2 1

Joining, by = "x"

  x y
1 1 2

In [20]:
#there are many flights in the nycflights13 dataset that don’t have a matching tail number in the planes table:
#thus we need to remove all the rows in flights that have an entry in tailnum column. Which will give those tailnumbers
#in flight table that dont have anny entry in 
library("nycflights13") 
head(flights)
head(planes)
head(flights%>%
anti_join(planes, by = "tailnum") %>% #drops all the rows in flights that match tail num in planes
count(tailnum,sort = TRUE))

#count3 <- length(which(b == 3))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

  tailnum year type                    manufacturer     model     engines seats
1 N10156  2004 Fixed wing multi engine EMBRAER          EMB-145XR 2        55
2 N102UW  1998 Fixed wing multi engine AIRBUS INDUSTRIE A320-214  2       182
3 N103US  1999 Fixed wing multi engine AIRBUS INDUSTRIE A320-214  2       182
4 N104UW  1999 Fixed wing multi engine AIRBUS INDUSTRIE A320-214  2       182
5 N10575  2002 Fixed wing multi engine EMBRAER          EMB-145LR 2        55
6 N105UW  1999 Fixed wing multi engine AIRBUS INDUSTRIE A320-214  2       182
  speed engine
1 NA    Turbo-fan
2 NA    Turbo-fan
3 NA    Turbo-fan
4 NA    Turbo-fan
5 NA    Turbo-fan
6 NA    Turbo-fan

  tailnum n
1 NA      2512
2 N725MQ   575
3 N722MQ   513
4 N723MQ   507
5 N713MQ   483
6 N735MQ   396

<h2>Set operations

These expect the x and y inputs to have the same variables, and treat the observations like sets:

◦ intersect(x, y): return only observations in both x and y <br\>◦ union(x, y): return unique observations in x and y<br\> ◦ setdiff(x, y): return observations in x, but not in y

In [22]:
df1 <- data_frame(x = 1:2, y = c(1L, 1L))
df2 <- data_frame(x = 1:2, y = 1:2)
df1
df2

  x y
1 1 1
2 2 1

  x y
1 1 1
2 2 2

In [23]:
intersect(df1, df2) #same rows in both df

  x y
1 1 1

In [24]:
union(df1, df2)#merge 2 df,, removing dupes

  x y
1 1 1
2 2 1
3 2 2

In [25]:
setdiff(df1, df2) #non intersecting rows of df1 df1-df2

  x y
1 2 1

In [26]:
setdiff(df2, df1)  #non intersecting rows of df2 df2-df1

  x y
1 2 2

 If you specify copy = TRUE, dplyr will copy the y table into the same location as the x variable. This is useful if you’ve downloaded a summarised dataset and determined a subset of interest that you now want the full data for. You can use semi_join(x, y, copy = TRUE) to upload the indices of interest to a temporary table in the same database as x, and then perform a efficient semi join in the database.
If you’re working with large data, it maybe also be helpful to set auto_index = TRUE. That will automatically add an index on the join variables to the temporary table

<b> To sum all entries

In [28]:
df1 <- data_frame(x = 1:2, y = c(1L, 1L))
df1

  x y
1 1 1
2 2 1